.game-page {
  width: 100vw;
  height: var(--height-minus-header);
  background-image: url(../images/table-sign.png);
  background-repeat: no-repeat;
  background-position: center 40%;
  margin-top: -35px;
}

@media screen and (max-width: 400px) {
  .game-page {
    background-size: contain;
    background-position: center;
    margin-top: 0;
  }
}
