.game-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/table-sign.png);
  background-repeat: no-repeat;
  background-position: center 40%;
}

@media screen and (max-width: 400px) {
  .game-page {
    background-size: contain;
    background-position: center;
  }
}
