.splash-page {
  width: 100vw;
  height: 100vh;
  height: var(--height-minus-header);
  background-image: url(../images/splash-text.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: screen;
  background-position: center;
}

.splash-page-graphic {
  opacity: 0;
  transform: scale(0);
  margin: -30px 0 30px 0;
  max-width: 90vw;
  animation: grow 300ms ease-out forwards;
}

@keyframes grow {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
