.bank {
  position: absolute;
  bottom: 0;
  left: 1rem;
  transition: 200ms ease-out;
}

.tab {
  background-color: var(--blk40);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 1rem 0;
  min-width: 175px;
  width: fit-content;
}

.bank-total {
  padding-bottom: 0.7rem;
}

.chip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: var(--blk40);
  border-radius: 0 var(--border-radius) 0 0;
  padding: 1rem;
}

.chip-btn {
  position: relative;
  height: auto;
  max-width: 120px;
  max-height: 120px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.chip-btn:focus {
  border-radius: 50%;
}

.chip {
  width: 100%;
  height: 100%;
}

.lower-bank {
  transform: translateY(350px);
}

@media screen and (max-width: 600px) {
  .bank {
    left: 0;
    width: 100vw;
  }

  .tab {
    padding: 0.5rem 0;
    min-width: 130px;
  }

  .chip-container {
    display: flex;
    padding: 1rem 0.5rem;
    gap: 10px;
    border-radius: 0 0 0 0;
  }

  .chip-btn {
    /* width: 15vw; */
  }

  .lower-bank {
    transform: translateY(190px);
  }
}

@media screen and (orientation: landscape) and (pointer: coarse) {
  .chip-container {
    display: flex;
    padding: 1rem 2rem;
    gap: 10px;
  }

  .lower-bank {
    transform: translateY(340px);
  }

  .chip-btn {
    max-width: 115px;
    max-height: 115px;
  }
}
