.placed-bet {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--height-minus-header);
}

.instructions {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--blk40);
  border-radius: var(--border-radius);
  padding: 15px 30px 20px 30px;
  line-height: 120%;
  width: 70vw;
  max-width: 250px;
  text-align: center;
}

.chips-bet-container {
  position: relative;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
  z-index: 100;
}

.chip-bet {
  position: absolute;
}

.bet-text {
  padding: 5px 15px;
  text-align: center;
  background-color: var(--blk40);
  border-radius: var(--border-radius);
}

.empty-element-for-flex-btn-positioning {
  min-width: 190px;
  height: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .chips-bet-container {
    max-width: 75px;
    max-height: 75px;
  }
}

@media screen and (orientation: landscape) and (pointer: coarse) {
  .chips-bet-container {
    max-width: 100px;
    max-height: 100px;
  }
}
