.placed-bet {
  position: absolute;
  width: 100vw;
  height: var(--height-minus-header);
}

.instructions {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--blk40);
  border-radius: var(--border-radius);
  padding: 15px 30px 20px 30px;
  line-height: 120%;
  width: 70vw;
  max-width: 250px;
  text-align: center;
}

.bet-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  margin: -50px auto 10px auto;
  z-index: 100;
}

.chip-bet {
  position: absolute;
  width: 100%;
}

.bet-text {
  padding: 5px 15px;
  text-align: center;
  background-color: var(--blk40);
  border-radius: var(--border-radius);
}

.empty-element-for-flex-btn-positioning {
  min-width: 190px;
  height: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) and (pointer: coarse) {
  .bet-area {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 900px) {
  .bet-area {
    max-width: 70px;
    max-height: 70px;
    margin: -50px auto 5px auto;
  }

  .instructions {
    top: 30%;
    padding: 15px 30px 20px 30px;
    width: 80vw;
  }

  .bet-text {
    font-size: 1.4rem;
    padding: 3px 10px;
  }
}

@media screen and (max-height: 550px) {
  .bet-area {
    max-width: 60px;
    max-height: 60px;
  }

  .bet-text {
    font-size: 1.2rem;
    padding: 3px 10px;
  }
}
