.card-hand {
  position: relative;
  height: 25vh;
  margin-left: -75px;
  z-index: -1000;
}

.card {
  position: absolute;
  width: clamp(12vh, 12vw, 170px);
  aspect-ratio: 2/3;
  filter: drop-shadow(1px 3px 5px rgba(0 0 0 / 30%));
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* Below fixes weird safari bug that caused flipped card to show on top instead of bottom of stack */
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back,
.card-front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f2f2;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 10px -2px rgba(80, 45, 40, 0.3);
  box-shadow: inset 0px 0px 10px -2px rgba(80, 45, 40, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  opacity: 0;
  -webkit-transform: translateY(-40vh);
  transform: translateY(-40vh);
  -webkit-animation: deal 100ms linear forwards;
  animation: deal 100ms linear forwards;
}

/* .card-hand:nth-child(2) > .card:nth-child(1) > .card-front:nth-child(1) {
  animation-delay: 0ms;
}

.card-hand:nth-child(1) > .card:nth-child(1) > .card-front:nth-child(1) {
  animation-delay: 150ms;
}

.card-hand:nth-child(2) > .card:nth-child(2) > .card-front:nth-child(1) {
  animation-delay: 300ms;
}

.card-hand:nth-child(1) > .card:nth-child(2) > .card-front:nth-child(1) {
  animation-delay: 450ms;
} */

@keyframes deal {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.card-back {
  background-image: url(../images/card-icons/card-back.png);
  background-size: 88%;
}

.rotate {
  -webkit-animation: rotate 150ms linear 150ms forwards;
  animation: rotate 150ms linear 150ms forwards;
}

@keyframes rotate {
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg) translateY(0);
    transform: rotateY(-180deg) translateY(0);
  }
}

.card-bg-img {
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.card-info {
  position: relative;
  width: fit-content;
  margin-top: 5px;
  margin-left: 3px;
}

.card-value {
  font-size: 3.5rem;
  line-height: 90%;
  letter-spacing: -5px;
  width: fit-content;
}

.card-icon {
  width: 25px;
  height: 30px;
  margin-top: -2px;
}

.hand-total {
  position: relative;
  left: clamp(175px, 30vw, 400px);
  background-color: var(--blk40);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 90%;
}

@media screen and (orientation: landscape) and (pointer: coarse) {
  .card {
    width: 11vw;
  }

  .card-value {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .card-hand {
    margin-left: -35px;
  }

  .hand-total {
    left: -30vw;
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .card-info {
    margin-top: 3px;
    margin-left: 1px;
  }

  .card-value {
    font-size: 1.7rem;
    letter-spacing: -2px;
  }

  .card-icon {
    width: 15px;
    height: auto;
    margin-top: -4px;
    margin-left: 3px;
  }
}

@media screen and (max-height: 550px) {
  .hand-total {
    border: 2px solid red;
  }
}
