.game-board {
  position: relative;
  display: flex;
  width: 100vw;
  height: var(--height-minus-header);
  justify-content: center;
  align-items: center;
}

.game-btns {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  max-width: 791px;
}

.card-hands {
  height: var(--height-minus-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .game-btns {
    width: 88vw;
  }
}
