.game-board {
  position: relative;
  display: flex;
  width: 100vw;
  height: var(--height-minus-header);
  justify-content: center;
  align-items: center;
  margin-top: -7vh;
}

.card-hands {
  height: var(--height-minus-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .game-board {
    margin-top: 0;
  }

  .card-hands {
    height: 68vh;
  }

  .split-btn {
    margin-top: 25px;
  }
}

@media screen and (max-height: 550px) {
  .game-board {
    margin-top: -5vh;
  }
}
