.header {
  position: relative;
  width: 95vw;
  height: 90px;
  justify-content: space-between;
  margin: 0 auto;
}

.icon {
  height: 30px;
  margin: 0 auto;
}

.how-link:hover > .icon {
  transition: 250ms linear;
  transform: scale(1.05);
}
