.modal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

.modal-message {
  padding-bottom: 50px;
  max-width: 300px;
  text-align: center;
}
