.split-hand-container {
  position: absolute;
  right: 5vw;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100px;
}

.split-card .card {
  width: 70px;
  height: 100px;
}

.split-card .card-front,
.split-card .card-back,
.split-card .card-bg {
  position: absolute;
  transform: translateY(0);
  animation: deal 100ms ease-in forwards;
}

.split-card .card-info {
  margin-top: 3px;
  margin-left: 2px;
}

.split-card .card-value {
  font-size: 1.5rem;
  letter-spacing: -2px;
}

.split-card .card-sm-icon {
  width: 15px;
  height: 20px;
  margin-top: -3px;
}

.split-chips-container {
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgba(0 0 0 / 30%));
  width: 50px;
  height: 50px;
}

.split-chips {
  position: absolute;
  width: 50px;
  height: 50px;
}
