:root {
  --gradient: linear-gradient(
    52deg,
    rgb(47, 69, 235) 0%,
    rgb(58, 95, 238) 63%,
    rgb(77, 154, 255) 100%
  );
  --border-radius: 15px;
  --backer-opacity: 45%;
  --dotted-border: 2px dotted #fff;
  --blk40: rgba(0, 0, 0, 0.2);
  --height-minus-header: calc(100vh - 120px);
  --horizontalCardDistance: 30;
  --verticalCardDistance: 5;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 600;
}

.block {
  display: block;
}

.margin-top-10 {
  margin-top: 10px;
}

.display-text {
  font-size: 1.7rem;
  font-weight: 300;
}

.lg-text {
  font-size: 2rem;
  margin-bottom: 10px;
}

@media screen and (orientation: landscape) and (pointer: coarse) {
  :root {
    --height-minus-header: calc(100vh - 23vh);
  }
}

@media screen and (max-width: 900px) {
  :root {
    --height-minus-header: calc(100vh - 32vh);
  }

  .display-text {
    font-size: 1.5rem;
  }

  .lg-text {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-height: 550px) {
  .display-text {
    font-size: 1.3rem;
  }
}
